<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-pickup-call-card></app-pickup-call-card> -->
  <app-pickup-call-card status="hold" updatedAt="22/08/2024 16:00:00" createdAt="21/08/2024" notes="We have two bags that are full, one with plastic and the other one with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="23/08/2024 15:00:00" createdAt="22/08/2024" notes="We have two bags that are full"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="24/08/2024 8:00:00" createdAt="23/08/2024" value="$ 15.00"></app-pickup-call-card>
  <!-- <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p> 21/08/2024 17:52:00</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Created at 21/08/2024</p>
          <p>Notes: We have two bags that are full, one with plastic and the other one with glasses</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          Processing
          <p> 22/08/2024 11:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 21/08/2024</p>
          <p>Notes: We have two bags that are full, one with plastic and the other one with glasses</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          Finised
          <p> 22/08/2024 17:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 21/08/2024</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success">$ 15,00</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

</ion-content>
